---
Language:     Cpp

AlignArrayOfStructures: Left
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AllowShortFunctionsOnASingleLine: false
PointerAlignment: Right
